/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
#landing-page {
  background-image: url("/images/background.jpg");
  background-size: auto;
  background-position: center;
  /*min-height: 1080px;*/
  max-width: 1920px;
  border: black;
  border-radius: 1px;
  box-shadow: black 0px 0px 10px 0px;
  margin: 20px auto;
}
.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Semi-transparent Background for Text Blocks */
.text-background {
  background-color: rgba(15, 15, 15, 0.5); /* Light background, adjust opacity as needed */
  border-radius: 15px;
  padding: 20px;
  display: inline-block; /* or 'block' depending on your layout */
}

/* High Contrast Text */
.high-contrast-text {
  color: #FFFFFF; /* White text, adjust color based on your background image */

}

/* Optional: Add a general class for sections to improve layout and readability */
.section-padding {
  padding: 20px;
  margin-bottom: 30px;
}

/*body {*/
/*  --bs-light-rgb: var(--matr-navbar-bg-rgb);*/
/*  background-color: ivory;*/
/*}*/

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#calendar-page {
  padding-top: 20px;
  padding-bottom: 30px;
}

.stats-page {
  padding-top: 20px;
}

.custom-table {
  max-width: 10px;
}

#dashboard-page {
  padding-top: 20px;
  padding-bottom: 30px;
}

.dashboard-card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.edit-page {
  padding-top: 15px;
  padding-bottom: 30px;
}
